#users {
    .user {
        .info {
            right: -32px;
            border-radius: 0 1px 1px 0;
        }
        &:hover {
            transform: scale(5.6);
            z-index: 99;
            
            .info {
                display: flex;
                justify-content: flex-end;
                .content {
                    display: flex;
                    flex-flow: column;
                    align-content: center;
                    justify-content: space-around;
                    align-items: center;
                    margin-right: 1px;
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}

#hoodUsers {
    .user {
        .info {
            left: -32px;
            border-radius: 1px 0 0 1px;
        }
        &:hover {
            transform: scale(5.6);
            z-index: 99;
            .info {
                display: flex;
                justify-content: flex-start;
                .content {
                    display: flex;
                    flex-flow: column;
                    align-content: center;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 1px;
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}
