#filters {
    flex: 45% 0 1;
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    h4 {
        margin-bottom: 20px;
    }
    #filter0, #filter1, #filter2, #filter3  {
        width: 100%;
        min-height: 40px;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px 15px;
        box-shadow:inset  0 0 15px 0 rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:last-child {
            margin: 0;
        }
        span {
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            color: white;
        }
    }
}